* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(236, 230, 230);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 300px;
  transition: 0.5s ease;
  opacity: 0.6;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.overlay_top {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 300px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay_top {
  opacity: 1;
}
